* {
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

html, body {
    margin: 0;
    font-family: sans-serif;
}


body {
    /*background: #fcfcfc;*/
    background: #0f0f0f;
    min-height: -webkit-fill-available;

}
li {
    list-style-type: none;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 80.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3em 0 0 0;
}
.main-content-wrapper, form {
    position: relative;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    color: white;
}

.form-wrapper {
    height: auto;
    width: auto;
    padding: 0.1em 5em 2em;
}

form > * {
    font-family: 'Roboto Mono', monospace;
    font-size: 120%;
    filter: drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.44));

}
form > input {
    width: 100%;
    border: 0;
    padding: 0.3em;
    text-align: center;
    font-weight: 200;
}
input::placeholder {
    color: rgb(197, 197, 197);
}

form > label {
    margin: 0.5em auto;
    text-align: center;
    width: 100%;
}

a {
    color: initial;
    text-decoration: none;
}

.socials-row-container {
    margin: 2em auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
.socials-row-container > h1{
  cursor: default;
  margin: 0 auto;
  text-align: center;
  padding: 1.33em;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.66px;
  filter: drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.1));
}
.socials-row {
    width: 25vw;
    min-width: 250px;
    max-width: 300px;
    margin: 0 auto;
}

.socials-row  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.socials-row li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: none;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    transition: 100ms ease-in;
}
.socials-row li:hover {
    transform: scale(1.075);
}

.socials-row img {
    width: calc(32px + 1.5vw);
    max-width: 45px;
    padding: 25%;
    filter: invert(100%) drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.44));

}
.background-wrapper {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-slides {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0.69;
}


.background-slides li span {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 0;
    opacity: 0;
    /*animation: appear 2.5s linear infinite;*/
}

.background-slides li:nth-child(1) span { 
    background-image: url(../assets/img/70.jpg);
}
.background-slides li:nth-child(2) span { 
    background-image: url(../assets/img/lauryn.jpg);
    animation-delay: 0.5s; 
}
.background-slides li:nth-child(3) span { 
    background-image: url(../assets/img/raptors.jpg);
    animation-delay: 1s; 
}
.background-slides li:nth-child(4) span { 
    background-image: url(../assets/img/walkman.jpg);
    animation-delay: 1.5s; 
}
.background-slides li:nth-child(5) span { 
    background-image: url(../assets/img/city.jpg);
    animation-delay: 2s; 
}

.logo-wrapper > img {
    min-width: 100px;
    max-width: 333px;
    width: 35vw;
    image-rendering: crisp-edges;
    filter: drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.1));
}
.logo-wrapper > h1{
    font-weight: bold;
    font-family: "Source Sans Pro", monospace;
    margin: 0;
    padding: 0;
    transform: scaleY(1.2);
    font-size: 233%;
}

.button-normal {
    font-size: 17px;
    border-radius: 0;
    border: 1px solid #fcfcfc;;
    margin: 1em 0 0 0;
    padding: 0.33em 1em;
    width: 100%;
    color: #fcfcfc;
    cursor: pointer;
    transition: 150ms ease-in;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-normal img {
    max-height: 33px;
    filter: invert(100%);
}
.button-normal--transparent {
    background: rgba(0, 0, 0, 0.1);
}
.button-normal--transparent:hover {
    background: rgba(14, 148, 74, 0.75);
    color: white;
    border: 1px solid transparent;
    transform: scale(1.025);
}

@media (max-width: 400px) {
    .socials-row-container > h1 {
        font-size: 13.33px;
    }
    .socials-row-container > h1 {
        font-size: calc(11px + 0.72vw);
    }
}
@media (max-width: 800px) {
    .logo-wrapper img {
        width: 60vw;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes appear { 
    0%{ 
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    95%{ 
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}